.sht-container-home {
    margin: 2%;
    display: flex;
    gap: 25px;
}

.sht-pannel-left {
    flex: 20%;
    display: flex;
    flex-direction: column;
}

.sht-line {
    width: 100%;
}

.sht-filter-button {
    border: none;
    border-radius: 25px;
    background-color: #aec1e2;
    margin: 5px 0;
    width: 100%;
    height: 40px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    font-size: 15px;
}

.sht-filter-button:not(.active):hover {
    background-color: #cdd1c4;
    transform: scale(1.1);
}

.sht-active {
    background-color: #cdd1c4;
}

.sht-button-new-sheet {
    border: none;
    border-radius: 25px;
    background-color: #5c80bc;
    margin: 15px 0;
    width: 100%;
    height: 50px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    font-size: 18px;
}

.sht-button-new-sheet:hover {
    background-color: #7a9edb;
    transform: scale(1.1);
}

.sht-pannel-right {
    flex: 80%;
}

.sht-table-container {
    overflow: auto;
    height: 750px;
}

.sht-panneau-droit {
    padding: 15px;
    border-radius: 25px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
}

.sht-table-sheets {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.sht-table-sheets thead th {
    text-align: left;
    position: sticky;
    background-color: rgba(248, 246, 246, 1);
    top: 0;
    height: 40px;
}

.sht-table-sheets tr {
    border-bottom: 1px dotted rgb(15, 15, 15);
    height: 40px;
}

.sht-table-sheets tr:hover {
    background-color: #b4bdcc;
    cursor: pointer;
}

.sht-button-option {
    cursor: pointer;
    border: none;
    margin-left: 5px;
    padding: 4px;
    transition: all ease-in-out 0.2s;
    border-radius: 5px;
}
.sht-button-option:hover {
    transform: scale(1.5);
}

.sht-sheet-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 300px;
    max-width: 300px;
}

.sht-sheet-title-editable {
    position: absolute;
    margin-top: 5px;
    overflow: visible;
    background-color: white;
    width: 75%;
}

.sht-rename {
    background-color: rgb(236, 236, 166);
}

.sht-delete {
    background-color: rgb(211, 122, 122);
}

.sht-share {
    background-color: #84a1d3;
}

/* Désactiver la bordure de sélection pour les éléments éditables */
[contenteditable='true']:focus {
    outline: none;
    border: none;
}

.sht-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.sht-research-container {
    display: block;
    margin-top: 15px;
}

.sht-research-container input {
    border: black solid 1px;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding-left: 5px;
}
